body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

canvas {
    display: block;
}

.header {
    color: red;
    font-size: 60px;
    white-space: nowrap;
}

.info {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 10;
}

p {
    font-size: 20px;
}

.ytbutton {
    display: inline-block;
    padding: 10px 10px;
    background: red;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    margin-top: 15px;
}

.card {
    background: #0f0f0f;
    padding: 30px;
    border-radius: 10px;
}

.movies {
    padding: 80px;
    background: #000;
}

.movie-list {
    display: flex;
    gap: 20px;
}

#scene {
    position: relative;
    width: 100%;
    height: 100vh;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}